
.main-container {
    position: absolute;
    right: 0%;
    top: 0;
    background:#4440F7;
    background-size: cover;
    background-position: center;
    width: 288px;
    height: 489px;
    margin-top: 60px;
    box-sizing: border-box;
    border-radius: 4px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    padding-bottom: 60px;

    @include mq(tablet) {
    width: 353px;
    height: 675px
    }

    @include mq(desktop) {
        width: 395px;
        height: 675px
    }

}


@mixin mq($type) {
    $mobile: 320px;
    $tablet: 768px;
    $desktop: 1280px;

    @if $type =='mobile-only' {
        @media screen and (max-width: #{$tablet - 0.02}) {
            @content;
        }
    }

    @if $type =='mobile' {
        @media screen and (min-width: $mobile) {
            @content;
        }
    }

    @if $type =='tablet-only' {
        @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
            @content;
        }
    }

    @if $type =='tablet' {
        @media screen and (min-width: $tablet) {
            @content;
        }
    }

    @if $type =='not-desktop' {
        @media screen and (max-width: #{$desktop - 0.02}) {
            @content;
        }
    }

    @if $type =='desktop' {
        @media screen and (min-width: $desktop) {
            @content;
        }
    }

    @if $type =='retina' {

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            @content;
        }
    }
}